.heading-section .subheading {
    font-size: 18px;
    display: inline-block;
    margin:0 auto;
    color:#FC997C;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative; 
}

.heading-section .subheading:after {
    position: absolute;
    top: 50%;
    left: -60px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 3px;
    margin-top: -1px;
    background: #2E4C6D;
 }

 .heading-section .subheading:before {
    position: absolute;
    top: 50%;
    right: -60px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 3px;
    margin-top: -1px;
    background: #2E4C6D; 
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: #FC997C;
   
}
.paraphrase{
    font-size: 20px;
}

.content-section {
    position: relative;
    height: fit-content;
    /*padding: 6em 0px;*/
    
}
@media (max-width: 767.98px) {
    .content-section {
        padding: 6em 0; } }

.bg-secondary {
     background-color: whitesmoke !important;
  }
  .morebutton{
    padding: 0.50rem!important;
    cursor: pointer;
    font-size: 20px;
    box-shadow: none !important;
    border-radius: 5px;
    color: rgb(255, 255, 255) !important;
    background: #396EB0 !important;
    margin-left: 135px;
    
}
.arrow {
    background-color: #396EB0;
    width: 1000%;
    height: 110px;
}
.headerone{
    margin-top: -200px;
}
.btn-secondary{
    background-color: #FC997C;
    position: relative;
    border-radius: 4px;
}

.heading-section .subheading {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
    color:#FC997C;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative; 
}

.heading-section .subheading:after {
    position: absolute;
    top: 50%;
    left: -60px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 3px;
    margin-top: -1px;
    background: #2E4C6D;
 }

 .heading-section .subheading:before {
    position: absolute;
    top: 50%;
    right: -60px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 3px;
    margin-top: -1px;
    background: #2E4C6D; 
}

.heading-section h2 {
    font-size: 60px;
    font-weight: 400;
    float: left; 
}
@media (max-width: 767.98px)
 {
.heading-section h2 {
    font-size: 28px; } 
}

.heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.9); }
 .heading-section.heading-section-white h2 {
    font-size: 40px;
   color: #fff; }
 .heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9); }
    .img,

    .user-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
   .containere {
          width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
         }  
    @media (min-width: 576px) {
      .containere {
        max-width: 540px;
       }
       }
       @media (min-width: 768px) {
        .containere {
            max-width: 720px; } 
        }
        @media (min-width: 992px) {
        .containere {
            max-width: 960px; }
        }
        @media (min-width: 1200px) {
        .containere {
            max-width: 1140px; } 
        }
        .containere-fluid {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .block-7 {
            border-radius: 4px;
            margin-bottom: 30px;
            padding: 0;
            background: #fff;
            box-shadow: 5px 24px 48px 13px rgb(0 0 0 / 5%);
            transition: all 0.3s ease;
        }
        .block-7, img{
            text-align: center; 
            padding-top: 40px;
        }
        .btn.btn-primary {
            color: rgb(255, 255, 255) !important;
            background: #396EB0 !important; 
        }
        .btn {
            cursor: pointer;
            font-size: 28px;
            box-shadow: none !important;
            border-radius: 3px;
        }
        .morebutton{
            padding: 0.50rem!important;
            cursor: pointer;
            font-size: 20px;
            box-shadow: none !important;
            border-radius: 5px;
            color: rgb(255, 255, 255) !important;
            background: #396EB0 !important;
            margin-left: 135px; 
        }

        @media (min-width: 960px){
            .grid-last {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                }
            }
            
            @media (min-width: 960px){
            .grid-last__col:first-child {
                margin-bottom: 0;
                }
            }
            
            @media (min-width: 960px){
            .grid-last__col {
                width: 46%;
                }
            }

            .grid-last__col {
                -ms-grid-row-align: center;
                align-self: center;
              
                max-width: 490px;
               
            }
            .section{
                padding-bottom: 20px;
                /* background-color: #f6fafd;} */
            }
                .section-body{
                  background-color: white;
                  justify-content: center;
                  margin: 0;
                  padding: 0;
                }

                
      .section-2 {
        color: #8a151b;
        border-bottom: 1px solid #f1f2f4;
        background-color: white;}
        a{
          margin: 0;
          font-size: 14px; }
          .bi{
            font-size: 32px; 
        }
        .section-header{
            color: #3b6b89;
            font-weight: 300;
            font-size: 2rem; }
            span{
              font-weight: 600;
            }
        .divider{
                width: 50px;
                margin: 1.4rem;
                border-bottom: 3px solid #8a151b;
                margin-left: 0;
              }
              
              .section-right, .section-left{
                padding: 40px;
                justify-content: center;}
                .as{
                  margin: 30px 0;
                }
 .section-left{
        width: 100%;
       /*background: url(../../../../assets/images/gradient1.png) no-repeat 100% 100%;*/
        background-color: #f0f4f5; }
       img{
        max-height: 400px;
        width: 700px;
      }
      a{
        margin: 7px 0;
   
      }
      /* .section{
        background-color: #f6fafd;
      }    */
        