
  
  /*---------------------------------------------*/
  input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;

}



/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
    background-color: #396EB0;
}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color:  white;
}

.wrap-contact100 {
  max-width: 960px;
  background:  white;
  border-radius: 2px;
  padding: 66px 115px 59px 115px;
  position: relative;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  display: block;
  width: 100%;
  font-family: sans-serif;
  font-size: 40px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 32px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.label {
  font-family: sans-serif;
  font-size: 20px;
  color: #555555;
  line-height: 1.5;
}

.input100 {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 2px;
  font-family: Raleway-SemiBold;
  font-size: 20px;
  color: #686868;
  line-height: 1.2;
  padding: 0 28px;
  margin-top: 10px;
}


/*---------------------------------------------*/
input.input100 {
  height: 62px;
}


textarea.input100 {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.input100:focus {
  background: #e6e6e6;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #396EB0 ;

}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 66px 80px 59px 80px;
  }
}

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 66px 15px 59px 15px;
  }
}

/*==================================================================
[ Contact more ]*/

.contact100-more {
  display: block;
  max-width: 960px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(20, 18, 18);
  line-height: 1.4;
  text-align: left;
  padding: 40px 0 10px 0;
}




/*...................................................................................*/

.fst-italic {
font-style: italic !important;
}

.content{
border-left: 1px solid #396EB0;
box-shadow: -8px -1px 8px -4px #aaa;
}

.content ul{
list-style: none;
line-height: 2;
padding: 0;
font-size: 20px;
}

.content i{
color: #396EB0;
font-size: 20px;
margin-right: 5px;
}

.container {
max-width: 1300px;
margin-right: auto;
margin-left: auto;
}

@media (min-width: 768px){
.container {
padding-right: 60px;
padding-left: 60px;
}
}

@media (min-width: 600px){
.mb-160 {
margin-bottom: 160px;
}
}

@media (min-width: 768px){
.container {
padding-right: 60px;
padding-left: 60px;
}
}

@media (min-width: 600px){
body {
font-size: 16px;
}
}

@media (min-width: 600px){
.mb-120 {
margin-bottom: 120px;
}
}

@media (min-width: 960px){
.grid-last {
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
}

@media (min-width: 960px){
.grid-last__col:first-child {
margin-bottom: 0;
}
}

@media (min-width: 960px){
.grid-last__col {
width: 46%;
}
}

.grid-last__col {
-ms-grid-row-align: center;
align-self: center;

max-width: 490px;

}

.mb-05em {
margin-bottom: 0.5em;
}

h3 {
font-size: 16px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
color: #FC997C;
margin: 0;
padding: 0;

}

@media (min-width: 600px){
h3  {
font-size: 24px;
}
}

@media (min-width: 600px){
span{
    font-size: 20px;
}
}

@media (min-width: 600px){
p{
    font-size: 20px;
}
}

.mb-1em {
margin-bottom: 1em;
}

.color-secondary {
color: #666;
}

@media (min-width: 600px){
.text-body-l{
font-size: 18px;
}
}

.typo-tiny :last-child {
margin-bottom: 0;
}

*, :after, :before {
box-sizing: border-box;
}

.image-block {
display: block;
width: 100%;
height: auto;
}

*, :after, :before {
box-sizing: border-box;
}

/* Explore more features */

@media (min-width: 600px){
.grid-box-3 {
margin: -15px;
}
}

.grid-box-3 {
display: flex;
flex-wrap: wrap;
margin: -10px;
}

@media (min-width: 960px){
.grid-box-3__item {
width: 33.333333%;
}
}

@media (min-width: 600px){
.grid-box-3__item {

padding: 15px;
}
}

.grid-box-3__item {
display: flex;
background-color: #f6fcfc;
}

.card-cover {
display: flex;
width: 100%;
height: 100%;
user-select: none;
}

.card-cover__content {
display: flex;
flex-direction: column;
flex: auto;
padding: 20px;

}

*, :after, :before {
box-sizing: border-box;
}

a.card-cover__link {
position: relative;
transition: transform .2s,box-shadow .2s,background .2s;
will-change: transform,box-shadow,background;
}

.card-cover__link {
overflow: hidden;
display: flex;
flex-direction: column;
width: 100%;
color: inherit;
border-radius: 4px;
}

a, a:focus, a:hover {

text-decoration: none;
}

a {

background-color: transparent;
}

*, :after, :before {
box-sizing: border-box;
}

a:-webkit-any-link {

cursor: pointer;

}

.card-cover__tagline:last-child {
margin: 0;
}

.paragraph{
font-size: 18px;
font-family: sans-serif;
margin-left: 300px;
}

.catch {
font-size: 28px;
font-family: lato;
margin-left: 700px;
margin-top: 40px;
}

.btn.btn-primary {
color: white ;
background: #396EB0 !important;

}

.images {
background-image: url(/assets/images/bg_1.jpg);
min-height: 150px;

}

h1 {
font-family: sans-serif;
margin-left: 300px;
padding-top: 150px;
}

@media (min-width: 768px){
.grid-text-2 {
margin: -30px;
}
}

.grid-text-2 {
display: flex;
flex-wrap: wrap;
}

@media (min-width: 768px){
.grid-text-2__item {
padding: 30px;
width: 50%;
margin: 0;
}
}

.grid-text-2__item:last-child {
margin: 0;
}

.text-bold {
font-weight: 700;
}

.container--narrow {
max-width: 1000px;
padding-bottom: 30px;
}

@media (min-width: 960px){
.h1 {
font-size: 60px;
}
}

.heading-section .subheading {
font-size: 18px;
display: inline-block;
margin:0 auto;
color:#d49522;
font-size: 22px;
font-weight: 600;
letter-spacing: 2px;
text-transform: uppercase;
position: relative; 
}

.heading-section .subheading:after {
position: absolute;
top: 50%;
left: -60px;
content: '';
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
width: 50px;
height: 3px;
margin-top: -1px;
background: #2E4C6D;
}

.heading-section .subheading:before {
position: absolute;
top: 50%;
right: -60px;
content: '';
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
width: 50px;
height: 3px;
margin-top: -1px;
background: #2E4C6D; 
}

.services .icon-box {
text-align: center;
padding: 60px 30px;
transition: all ease-in-out 0.3s;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
min-height: 550px;
}

.flaticon{
color: #2E4C6D;
}

.services .icon-box:hover {
background-image: url('/src/assets/images/SU/Resources/children.jpg'); 
border-color: #2E4C6D; 
padding: 50px 30px 70px 30px;
color: #fff;
}

.services .icon-box:hover .flaticon, .services .icon-box:hover a {
color: #fff;
}

.icon-box a {
color: #d49522;
}

.icon-box a:hover {
color: #fff;
}

.team .member {
text-align: center;
margin-bottom: 20px;
padding: 30px 20px;
background: #fff;
}

.team .member img {
max-width: 60%;
border-radius: 50%;
margin: 0 0 30px 0;
}

.team .member span {
color:#444444;
font-style: italic;
}

.team .member .social i {
font-size: 22px;
margin: 0 5px;
color: #919191;
}

.team .member .social i:hover {
color: #d49522;
}


/* Activies */
.images {
background-image: url(/assets/images/bg_1.jpg);
min-height: 150px;

}

.services .icon-box {
text-align: center;
padding: 60px 30px;
transition: all ease-in-out 0.3s;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
min-height: 550px;
}
.heading-section .subheading {
font-size: 18px;
display: inline-block;
margin:0 auto;
color:#FC997C;
font-size: 22px;
font-weight: 600;
letter-spacing: 2px;
text-transform: uppercase;
position: relative; 
}

.heading-section .subheading:after {
position: absolute;
top: 50%;
left: -60px;
content: '';
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
width: 50px;
height: 3px;
margin-top: -1px;
background: #2E4C6D;
}

.heading-section .subheading:before {
  position: absolute;
  top: 50%;
  right: -60px;
  content: '';
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 3px;
  margin-top: -1px;
  background: #2E4C6D; 
}

.services .icon-box{
text-align: center;
padding: 60px 30px;
transition: all ease-in-out 0.3s;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
min-height: 300px;
}

.flaticon{
color: #2E4C6D;
}

.services .icon-box:hover {
background: #2E4C6D; 
border-color: #2E4C6D; 
padding: 50px 30px 70px 30px;
color: #fff;
}

.services .icon-box:hover .flaticon, .services .icon-box:hover a {
color: #fff;
}

.icon-box a {
color: #FC997C;
}

.icon-box a:hover {
color: #fff;
}
h3 {
font-size: 30px;
font-weight: bold;
color: #FC997C;

}
.paraphrase{
font-size: 20px;
}

.img {
background-size: cover;
background-repeat: no-repeat;
background-position: center center; }

.form-control {
height: 52px;
background: transparent;
color: rgba(30, 28, 28, 0.8) !important;
font-size: 14px;
border-radius: 0px;
-webkit-box-shadow: none !important;
box-shadow: none !important;
border: 1px solid rgba(255, 255, 255, 0.2); }
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5) !important; }
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5) !important; }
.form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(255, 255, 255, 0.5) !important; }
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5) !important; }
.form-control:focus, .form-control:active {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.5) !important; }

textarea.form-control {
height: inherit !important; }

.wrapper {
width: 100%;
overflow: hidden;
border-radius: 10px;
-webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
-moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18); }

.contact-wrap {
background: #272a34; }
.contact-wrap h3 {
  color: #fff; }

.info-wrap {
background: #1c1e25; }
.info-wrap h3 {
  color: white;
  font-size: 18px;
  position: relative; }
.info-wrap .dbox {
  width: 100%;
  margin-bottom: 25px; }
  .info-wrap .dbox:last-child {
    margin-bottom: 0; }
  .info-wrap .dbox p {
    margin-bottom: 0; }
    .info-wrap .dbox p span {
      font-weight: 400;
      color: #fff; }
    .info-wrap .dbox p a {
      color: rgba(255, 255, 255, 0.3); }
  .info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02); }
    .info-wrap .dbox .icon span {
      font-size: 20px;
      color: #fff; }
  .info-wrap .dbox .text {
    width: calc(100% - 50px); }

.btn {
padding: 12px 16px;
cursor: pointer;
border-width: 1px;
border-radius: 2px;
font-size: 14px;
font-weight: 400;
-webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
position: relative;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }
.btn:hover, .btn:active, .btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important; }
/* .btn.btn-primary {
  background: #f39422 !important;
  border-color: #f39422 !important;
  color: #fff; } */
  .btn.btn-primary:hover, .btn.btn-primary:focus {
    border-color: #d67a0c !important;
    background: #d67a0c !important; }

.contactForm .form-control {
border: none;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
padding: 0; }

#contactForm .error {
color: #f65c78;
font-size: 12px; }

#contactForm .form-control {
font-size: 16px; }

#message {
resize: vertical; }

#form-message-warning, #form-message-success {
display: none; }

#form-message-warning {
color: red; }

#form-message-success {
color: #28a745;
font-size: 18px;
font-weight: 500; }

.submitting {
float: left;
width: 100%;
height: 35px;
padding: 1px 0;
font-size: 16px;
font-weight: 500;
border-radius: 15px; 
background-color: #8a151b;
}
/* .section{
background-color: #f6fafd;
} */